.course-main {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.course {


    border: 1px solid lightgrey;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}

.course-title {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.course-desc {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.course-link {
    font-size: 12px;
    text-decoration: none;
    text-align: right;
    padding-right: 10px;
}